DATABASE_URL="postgres://username:password@127.0.0.1:5432/feedbox?sslmode=disable"
DATABASE_URL="sqlite:///path/to/feedbox.db"
HOST="0.0.0.0"
PORT=8000

ENV="dev"
SERVER="http://localhost:8000"
SERVER_SUB_DIR="/"
COOKIE_SECRET="openssl rand -hex 32"
TELEGRAM_WEBHOOK_PATH="openssl rand -hex 16"

GITHUB_CLIENT_ID="https://github.com/settings/developers"
GITHUB_CLIENT_SECRET="https://github.com/settings/developers"

MAILGUN_API_KEY="key-example"
MAILGUN_DOMAIN="feedbox.example.com"
MAILGUN_FROM="feedbox <feedbox@example.com>"

TELEGRAM_BOT_NAME="bot_name"
TELEGRAM_BOT_TOKEN="123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11"
