NODE_ENV="development"
SERVER="http://localhost:8000"

COOKIE_SECRET="crypto.randomBytes(16).toString('hex')"

GITHUB_AUTH_SECRET="crypto.randomBytes(16).toString('hex')"
GITHUB_CLIENT_ID="https://github.com/settings/developers"
GITHUB_CLIENT_SECRET="https://github.com/settings/developers"

MAILGUN_API_KEY="key-example"
MAILGUN_DOMAIN="feedbox.example.com"
MAILGUN_FROM="feedbox <feedbox@example.com>"

TELEGRAM_BOT_TOKEN="123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11"
TELEGRAM_WEBHOOK_PATH="crypto.randomBytes(16).toString('hex')"

ROLLBAR_TOKEN="https://rollbar.com"

DATABASE_URL="postgres://user:password@localhost:5432/feedbox"
