ENV="dev"

SERVER="http://localhost:8000"
PORT=8000

COOKIE_SECRET="openssl rand -hex 32"

GITHUB_CLIENT_ID="https://github.com/settings/developers"
GITHUB_CLIENT_SECRET="https://github.com/settings/developers"

MAILGUN_API_KEY="key-example"
MAILGUN_DOMAIN="feedbox.example.com"
MAILGUN_FROM="feedbox <feedbox@example.com>"

TELEGRAM_BOT_TOKEN="123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11"
TELEGRAM_BOT_NAME="bot_name"
TELEGRAM_WEBHOOK_PATH="openssl rand -hex 8"

ROLLBAR_TOKEN="https://rollbar.com/team/project/settings/access_tokens/ post_server_item"

DATABASE_URL="postgres://user:password@localhost:5432/feedbox?sslmode=disable"
