<div class="container grid-sm">
    {#await loaded.promise}
    <div class="columns">
        <div class="column col-12">
            <div class="loading loading-lg"></div>
        </div>
    </div>
    {:then}
    <div class="columns">
        <Heading></Heading>
        <Add></Add>
        <List></List>
    </div>
    <Notify></Notify>
    {:catch err}
    <Auth {err}></Auth>
    {/await}
</div>

<script>
    import { onMount } from 'svelte'

    import Auth from './auth.html'
    import Heading from './heading.html'
    import Add from './add.html'
    import List from './list.html'
    import Notify from './notify.html'

    import * as store from './store'

    import * as agent from '../utils/agent'
    import { Deferred } from '../utils/deferred'

    // self -> Window | ServiceWorkerGlobalScope
    const state = self.__STATE__ || {}
    export let loaded = state.loaded || new Deferred()
    export let email = state.email || ''
    export let feeds = state.feeds || []

    if (email) store.email.set(email)
    if (feeds.length) store.feeds.set(feeds)
    onMount(() => {
        Promise.all([agent.get(`/api/v1/user`), agent.get(`/api/v1/feeds`)])
            .then(([user, resp]) => {
                store.email.set(user.addition.email)
                store.feeds.set(resp)
                store.initialized.set(true)
                if (loaded.resolve) loaded.resolve(true)
            })
            .catch((err) => {
                store.initialized.set(true)
                if (loaded.reject) {
                    loaded.reject(err.message)
                } else {
                    window.alert(err.message)
                    location.reload()
                }
            })
    })
</script>
