<div class="container grid-sm">
	{#await loaded.promise}
	<div class="columns">
		<div class="column col-12">
			<div class="loading loading-lg"></div>
		</div>
	</div>
	{:then}
	<div class="columns">
		<Heading></Heading>
		<Add></Add>
		<List></List>
	</div>
	<Notify></Notify>
	{:catch err}
	<Auth {err}></Auth>
	{/await}
</div>

<script>
	import { onMount } from "svelte"

	import Auth from "./auth.html"
	import Heading from "./heading.html"
	import Add from "./add.html"
	import List from "./list.html"
	import Notify from "./notify.html"

	import * as state from "../state"

	import * as agent from "../utils/agent"
	import { Deferred, sleep } from "../utils/deferred"

	// self -> Window | ServiceWorkerGlobalScope
	const workerState = self.__STATE__ || {}
	export let loaded = workerState.loaded || new Deferred()
	export let email = workerState.email || ""
	export let feeds = workerState.feeds || []

	if (email) state.email.set(email)
	if (feeds.length) state.feeds.set(feeds)
	onMount(() => {
		// keep the loading animation
		const delayAnimation = sleep(1000)
		Promise.all([agent.get("/api/v1/user"), agent.get("/api/v1/feeds")])
			.then(async ([user, resp]) => {
				state.email.set(user.addition.email)
				state.feeds.set(resp)
				if (loaded.resolve) {
					// first time
					await delayAnimation
					state.initialized.set(true)
					loaded.resolve(true)
				} else {
					// rendered by ServiceWorker
					await delayAnimation
					state.initialized.set(true)
				}
			})
			.catch(async (err) => {
				if (loaded.reject) {
					// first time
					await delayAnimation
					loaded.reject(err.message)
				} else {
					// rendered by ServiceWorker
					window.alert(err.message)
					location.reload()
				}
			})
	})
</script>
