<div class="column col-12" transition:slide|local>
    <div class="tile">
        <div class="tile-content">
            <div class="tile-title text-break">
                <a target="_blank" rel="noopener" href="{feed.url}">
                    {feed.url}
                </a>
            </div>
            <div class="tile-subtitle text-gray">
                <span>updated @ {formatDate(feed.updated)}</span>
            </div>
        </div>
        <div class="tile-action">
            <div>
                <button
                    type="button"
                    class="btn btn-error"
                    class:loading="{loading}"
                    class:disabled="{loading}"
                    on:click="{() => remove()}"
                >
                    remove
                </button>
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>

<script>
    import { slide } from 'svelte/transition'
    import { feeds, notify, newNotify } from '../state'
    import * as agent from '../utils/agent'
    import { format } from '../utils/format-date'

    export let feed = {}

    let loading = false

    const formatDate = (date) => {
        if (!date) return 'never'
        return format(new Date(date))
    }

    const remove = async () => {
        if (loading === true) {
            window.alert('processing')
            return
        }
        const c = window.confirm(`remove "${feed.url}"`)
        if (!c) return

        loading = true

        agent
            .del(`/api/v1/feeds/remove`, { feedID: feed.id })
            .then((resp) => feeds.set(resp))
            .then(() => newNotify('removed'))
            .catch((err) => {
                window.alert(err.message)
                location.reload()
            })
    }
</script>
