{#each $feeds as feed (feed.id)}
<div class="column col-12">
    <div class="tile">
        <div class="tile-content">
            <div class="tile-title text-break">
                <a
                    target="_blank"
                    rel="noopener"
                    href="{encodeHtmlEntities(feed.url)}"
                >
                    {encodeHtmlEntities(feed.url)}
                </a>
            </div>
            <div class="tile-subtitle text-gray">
                <span>updated @ {formatDate(feed.updated)}</span>
            </div>
        </div>
        <div class="tile-action">
            <div>
                <button
                    type="button"
                    class="btn btn-error"
                    class:loading="{feed.loading}"
                    class:disabled="{feed.loading}"
                    on:click="{() => remove(feed)}"
                >
                    remove
                </button>
            </div>
        </div>
    </div>
</div>
<div class="column col-12"><div class="divider"></div></div>
{/each}

<script>
    import { feeds, notify, newNotify } from './store'
    import * as agent from '../utils/agent'
    import { format } from '../utils/format-date'
    import { encodeHtmlEntities } from '../utils/html-entity'

    const formatDate = (date) => {
        if (date === null) return 'never'
        return format(date)
    }

    const remove = async (feed) => {
        const c = window.confirm(`remove "${feed.url}"`)
        if (!c) return

        if (feed.loading === true) throw new Error('loading is true')
        feed.loading = true

        agent
            .del(`/api/v1/feeds/remove`, { feedID: feed.id })
            .then((resp) => feeds.set(resp))
            .then(() => newNotify('removed'))
            .catch((err) => {
                window.alert(err.message)
                location.reload()
            })
    }
</script>
