<div class="columns">
    <div class="column col-12">
        <h1 class="d-inline-block" style="margin-bottom: 0">FeedBox</h1>
        <span>{email}</span>
        <a href="/api/v1/feeds/export" target="_blank">OPML</a>
        <a href="/api/logout" on:click="{logout}">logout</a>
    </div>
    <div class="column col-12"><div class="divider"></div></div>

    <div class="column col-12">
        <div class="input-group">
            <input
                class="form-input"
                type="text"
                placeholder="feed url"
                bind:value="{addUrl}"
            />
            <button
                type="button"
                class="btn btn-primary input-group-btn"
                class:loading="{addLoading}"
                class:disabled="{addLoading}"
                on:click="{add}"
            >
                add
            </button>
        </div>
    </div>
    <div class="column col-12"><div class="divider"></div></div>

    {#each feeds as feed (feed.id)}
    <div class="column col-12">
        <div class="tile">
            <div class="tile-content">
                <div class="tile-title text-break">
                    <a
                        target="_blank"
                        rel="noopener"
                        href="{encodeHtmlEntities(feed.url)}"
                    >
                        {encodeHtmlEntities(feed.url)}
                    </a>
                </div>
                <div class="tile-subtitle text-gray">
                    <span>updated @ {formatDate(feed.updated)}</span>
                </div>
            </div>
            <div class="tile-action">
                <div>
                    <button
                        type="button"
                        class="btn btn-error"
                        class:loading="{feed.loading}"
                        class:disabled="{feed.loading}"
                        on:click="{() => del(feed)}"
                    >
                        delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="column col-12"><div class="divider"></div></div>
    {/each}
</div>

<script>
    import * as agent from '../utils/agent'
    import { format } from '../utils/format-date'
    import { encodeHtmlEntities } from '../utils/html-entity'

    export let email = ''
    export let feeds = []

    let addLoading = false
    let addUrl = ''

    const formatDate = (date) => {
        if (date === null) return 'never'
        return format(date)
    }

    const alertThenReload = (msg) => {
        window.alert(msg)
        location.reload()
    }

    const del = async (feed) => {
        const c = window.confirm(`DELETE "${feed.url}"`)
        if (!c) return

        feed.loading = true
        agent
            .del(`/api/v1/feeds/remove`, { feedID: feed.id })
            .then((resp) => {
                feeds = resp
            })
            .catch((err) => alertThenReload(err.message))
    }

    const add = async () => {
        addLoading = true
        agent
            .put(`/api/v1/feeds/add`, { url: addUrl })
            .then((resp) => {
                feeds = resp
                addUrl = ''
            })
            .catch((err) => alertThenReload(err.message))
            .then(() => (addLoading = false))
    }

    const logout = () => {
        const sw = navigator.serviceWorker
        if (sw && sw.controller) {
            sw.controller.postMessage('logout')
        }
    }
</script>
