<style>
	div {
		position: fixed;
		width: 10em;
		right: 0.4rem;
		top: 0.4rem;
		z-index: 10;
		contain: content;
	}
</style>

<div>
	{#each $notify as n, i (n.key)}
	<div
		class="toast toast-success mb-2"
		transition:fly|local="{{x:100}}"
	>
		<button
			class="btn btn-clear float-right"
			on:click="{() => remove(i)}"
		></button>
		{n.msg}
	</div>
	{/each}
</div>

<script>
	import { fly } from "svelte/transition"
	import { notify } from "../state"

	const remove = (idx) => {
		notify.update((ns) => {
			ns.splice(idx, 1)
			return [...ns]
		})
	}
</script>
