DATABASE_TYPE="sqlite"
DATABASE_URL="postgres://example"

MAILGUN_API_KEY="example"
MAILGUN_DOMAIN="example.com"
MAILGUN_SENDER="example <example@example.com>"

CRON_USERNAME="username"
CRON_PASSWORD="crypto.randomBytes(2).toString('hex')"

JWT_SECRET="crypto.randomBytes(2).toString('hex')"

GITHUB_CLIENT_ID="https://github.com/settings/developers"
GITHUB_CLIENT_SECRET="https://github.com/settings/developers"
GITHUB_AUTH_SECRET="crypto.randomBytes(2).toString('hex')"
