DATABASE_TYPE="sqlite"
DATABASE_URL="postgres://example"

MAILGUN_API_KEY="example"
MAILGUN_DOMAIN="example.com"
MAILGUN_SENDER="example <example@example.com>"

WAKEUP_USERNAME="example"
WAKEUP_PASSWORD="example"

JWT_API_HEX="crypto.randomBytes(256).toString('hex')"
JWT_LOGIN_HEX="crypto.randomBytes(256).toString('hex')"

GITHUB_CLIENT_ID="https://github.com/settings/developers"
GITHUB_CLIENT_SECRET="https://github.com/settings/developers"
