CRON_USERNAME="username"
CRON_PASSWORD="crypto.randomBytes(2).toString('hex')"

SITE="http://localhost:9000"
API="http://localhost:8000"

COOKIE_SECRET="crypto.randomBytes(2).toString('hex')"

GITHUB_AUTH_SECRET="crypto.randomBytes(2).toString('hex')"
GITHUB_CLIENT_ID="https://github.com/settings/developers"
GITHUB_CLIENT_SECRET="https://github.com/settings/developers"

MAILGUN_API_KEY="key-example"
MAILGUN_DOMAIN="feedbox.example.com"
MAILGUN_FROM="feedbox <feedbox@example.com>"

DATABASE_URL="postgres://example"
