<div class="columns">
    <div class="column col-12">
        <h1 class="d-inline-block">feedbox</h1>
        <span>{email}</span>
        <a href="{process.env.API}/api/v1/feeds/export" target="_blank">OPML</a>
        <a href="{process.env.API}/api/logout" on:click="logout()">logout</a>
    </div>
    <div class="column col-12"><div class="divider"></div></div>

    <div class="column col-12">
        <div class="input-group">
            <input
                class="form-input"
                type="text"
                placeholder="feed url"
                bind:value="url"
            />
            <button
                type="button"
                class="btn btn-primary input-group-btn"
                class:loading="addLoading"
                class:disabled="addLoading"
                on:click="add(url)"
            >
                add
            </button>
        </div>
    </div>
    <div class="column col-12"><div class="divider"></div></div>

    {#each feeds as feed (feed.id)}
    <div class="column col-12">
        <div class="tile">
            <div class="tile-content">
                <div class="tile-title text-break">
                    <a target="_blank" rel="noopener" href="{feed.url}">
                        {feed.url}
                    </a>
                </div>
                <div class="tile-subtitle text-gray">
                    <span>updated @ {format(feed.lastUpdated)}</span>
                </div>
            </div>
            <div class="tile-action">
                <div>
                    <button
                        type="button"
                        class="btn btn-error"
                        class:loading="feed.loading"
                        class:disabled="feed.loading"
                        on:click="del(feed)"
                    >
                        delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="column col-12"><div class="divider"></div></div>
    {/each}
</div>

<script>
    import * as agent from '../utils/agent.js'
    export default {
        data() {
            return {
                addLoading: false,
                url: '',
                email: '',
                feeds: [],
            }
        },
        helpers: {
            format(dateStr, fmt = 'YYYY-MM-DD hh:mm:ss') {
                if (!dateStr) return 'unknown'

                const pad = value => `0${value}`.slice(-2)
                const date = new Date(dateStr)
                const _year = date.getFullYear()
                const _month = date.getMonth() + 1
                const _date = date.getDate()
                const _hour = date.getHours()
                const _minute = date.getMinutes()
                const _second = date.getSeconds()
                const _ms = date.getMilliseconds()
                const pairs = {
                    YYYY: _year,
                    M: _month,
                    MM: pad(_month),
                    D: _date,
                    DD: pad(_date),
                    h: _hour,
                    hh: pad(_hour),
                    m: _minute,
                    mm: pad(_minute),
                    s: _second,
                    ss: pad(_second),
                }

                return fmt.replace(
                    /YYYY|MM?|DD?|hh?|mm?|ss?/g,
                    matched => pairs[matched],
                )
            },
        },
        methods: {
            async del(feed) {
                const c = window.confirm(`DELETE "${feed.url}"`)
                if (!c) return
                feed.loading = true
                this.set({ feeds: this.get().feeds })
                agent
                    .del(
                        `${process.env.API}/api/v1/feeds/remove`,
                        { feedId: feed.id },
                        {
                            'X-SW-STRATEGY': 'networkOnly',
                            'X-SW-ACTION': `update;${
                                process.env.API
                            }/api/v1/feeds`,
                        },
                    )
                    .then(feeds => this.set({ feeds }))
                    .catch(err => alert(err.message))
            },
            async add(url) {
                this.set({ addLoading: true })
                const feeds = await agent.put(
                    `${process.env.API}/api/v1/feeds/add`,
                    { url },
                    {
                        'X-SW-STRATEGY': 'networkOnly',
                        'X-SW-ACTION': `update;${process.env.API}/api/v1/feeds`,
                    },
                )
                this.set({ addLoading: false, url: '', feeds })
            },
            logout() {
                if (
                    navigator.serviceWorker &&
                    navigator.serviceWorker.controller
                ) {
                    navigator.serviceWorker.controller.postMessage('logout')
                }
            },
        },
    }
</script>
