<div class="columns">
    <div class="column col-12">
        <h1 class="d-inline-block">feedbox</h1>
        <span>{email}</span>
        <a href="{process.env.API}/api/v1/feeds/export" target="_blank">OPML</a>
        <a href="{process.env.API}/api/logout" on:click="{logout}">logout</a>
    </div>
    <div class="column col-12"><div class="divider"></div></div>

    <div class="column col-12">
        <div class="input-group">
            <input
                class="form-input"
                type="text"
                placeholder="feed url"
                bind:value="{addUrl}"
            />
            <button
                type="button"
                class="btn btn-primary input-group-btn"
                class:loading="{addLoading}"
                class:disabled="{addLoading}"
                on:click="{add}"
            >
                add
            </button>
        </div>
    </div>
    <div class="column col-12"><div class="divider"></div></div>

    {#each feeds as feed (feed.id)}
    <div class="column col-12">
        <div class="tile">
            <div class="tile-content">
                <div class="tile-title text-break">
                    <a target="_blank" rel="noopener" href="{feed.url}">
                        {feed.url}
                    </a>
                </div>
                <div class="tile-subtitle text-gray">
                    <span>updated @ {format(feed.lastUpdated)}</span>
                </div>
            </div>
            <div class="tile-action">
                <div>
                    <button
                        type="button"
                        class="btn btn-error"
                        class:loading="{feed.loading}"
                        class:disabled="{feed.loading}"
                        on:click="{() => del(feed)}"
                    >
                        delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="column col-12"><div class="divider"></div></div>
    {/each}
</div>

<script>
    import * as agent from '../utils/agent.js'
    import format from '../utils/date-format.js'

    export let email = ''
    export let feeds = []

    let addLoading = false
    let addUrl = ''

    const del = async feed => {
        const c = window.confirm(`DELETE "${feed.url}"`)
        if (!c) return

        feed.loading = true
        agent
            .del(
                `${process.env.API}/api/v1/feeds/remove`,
                { feedId: feed.id },
                {
                    'X-SW-STRATEGY': 'networkOnly',
                    'X-SW-ACTION': `update;${process.env.API}/api/v1/feeds`,
                },
            )
            .then(resp => {
                feeds = resp
            })
            .catch(err => window.alert(err.message))
    }

    const add = async () => {
        addLoading = true
        agent
            .put(
                `${process.env.API}/api/v1/feeds/add`,
                { url: addUrl },
                {
                    'X-SW-STRATEGY': 'networkOnly',
                    'X-SW-ACTION': `update;${process.env.API}/api/v1/feeds`,
                },
            )
            .then(resp => {
                feeds = resp
                addUrl = ''
                addLoading = false
            })
            .catch(err => window.alert(err.message))
    }

    const logout = () => {
        const sw = navigator.serviceWorker
        if (sw && sw.controller) {
            sw.controller.postMessage('logout')
        }
    }
</script>
