name: ci

on:
    workflow_dispatch:
    push:
        branches:
            - master

jobs:
    build:
        # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#choosing-github-hosted-runners
        runs-on: ubuntu-latest
        steps:
            # https://github.com/marketplace/actions/checkout
            - uses: actions/checkout@v6.0.2
            # https://github.com/marketplace/actions/setup-go-environment
            - uses: actions/setup-go@v6.2.0
              with:
                  go-version: "1.26"
            # https://github.com/marketplace/actions/golangci-lint
            - uses: golangci/golangci-lint-action@v9.2.0
              with:
                  # https://github.com/golangci/golangci-lint/releases
                  version: "v2.9.0"
            - run: make test
              env:
                  DATABASE_URL: "sqlite://feedbox.db"
                  HOST: "127.0.0.1"
                  PORT: "8000"
                  ENV: "test"
                  SERVER: "http://localhost:8000"
                  SERVER_SUB_DIR: "/"
                  COOKIE_SECRET: "cd783ee4d0d8bb2cf92b867c8de42eaa906431d67bff5532e5e97114837106b4"
                  TELEGRAM_WEBHOOK_PATH: "131cd9868e9cf396a807c265a3c97e72"
                  GITHUB_CLIENT_ID: "https://github.com/settings/developers"
                  GITHUB_CLIENT_SECRET: "https://github.com/settings/developers"
            # https://github.com/marketplace/actions/setup-node-js-environment
            - uses: actions/setup-node@v6.2.0
              with:
                  node-version: "24.x"
            # https://github.com/marketplace/actions/cache
            - uses: actions/cache@v5.0.3
              with:
                  path: ~/.local/share/pnpm/store
                  key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
                  restore-keys: ${{ runner.os }}-pnpm-
            # https://www.npmjs.com/package/pnpm
            - run: |
                  npm install -g pnpm@10.29.3
                  pnpm config set store-dir ~/.local/share/pnpm/store
                  pnpm install
                  make lint
              env:
                  PNPM_HOME: /home/runner/.local/bin
              working-directory: ./ui
            - run: make build
            # https://github.com/marketplace/actions/scp-command-to-transfer-files
            - uses: appleboy/scp-action@v1.0.0
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_KEY }}
                  source: "_build/feedbox"
                  target: "/opt/app/feedbox"
            # https://github.com/marketplace/actions/ssh-remote-commands
            - uses: appleboy/ssh-action@v1.2.5
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_KEY }}
                  script: sudo systemctl restart feedbox.service
